.seperation{border-right:1px solid #ddd; }
.teams-panel-heading{background: #DBABB0; padding: 7px 6px;border-top-left-radius: 10px;border-top-right-radius: 10px; font-weight: bold; font-size: 15px;}
.Team-Box{float:left; width:45%;margin-right: 20px; margin-bottom: 20px; box-shadow: 0 5px 14px -7px #ccc;}
.team-panel-content{border: 1px solid #ddd;padding: 5px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; height: 220px;}
.team-panel-content li{margin:10px 0;}
.teams-panel-heading-1{background: #DFC0A1;}
.teams-panel-heading-2{background: #ebeeb6;}
.teams-panel-heading-3{background: #b6d999;}
.teams-panel-heading-4{background: #9aa5d2;}
.teams-panel-heading-5{background: #d0a5d3;}
.teams-panel-heading-6{background: #D0E7FF;}
.teams-panel-heading-7{background: #dda0dd;}
.teams-panel-heading-8{background: #cd5c5c;}
.teams-panel-heading-9{background: #4169e1;}
.teams-panel-heading-10{background: #ffcccc;}
.teams-panel-heading-11{background: #7bbf6a;}
.leauge-team-text{position:relative; top: 5px;}
.g-leauge-team-1-logo{background: url("/public/src/images/Delaware_Blue_Coats_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-2-logo{background: url("/public/src/images/Long_Island_Nets_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-3-logo{background: url("/public/src/images/Maine_Red_Claws_Logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-4-logo{background: url("/public/src/images/Raptors_905_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-5-logo{background: url("/public/src/images/Westchester_Knicks_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-6-logo{background: url("/public/src/images/Canton_Charge_logo.svg.png") left center no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-7-logo{background: url("/public/src/images/Fort_Wayne_Mad_Ants_logo.svg.png") left center no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-8-logo{background: url("/public/src/images/Grand_Rapids_Drive_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-9-logo{background: url("/public/src/images/Windy_City_Bulls_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-10-logo{background: url("/public/src/images/Wisconsin_Herd_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-11-logo{background: url("/public/src/images/Capital_City_Go-Go_logo.svg.png") left center no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-12-logo{background: url("/public/src/images/College_Park_Skyhawks_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-13-logo{background: url("/public/src/images/Erie_BayHawks_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-14-logo{background: url("/public/src/images/Greensboro_Swarm_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-15-logo{background: url("/public/src/images/Lakeland_Magic_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-16-logo{background: url("/public/src/images/Iowa_Wolves_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-17-logo{background: url("/public/src/images/Memphis_Hustle_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-18-logo{background: url("/public/src/images/Oklahoma_City_Blue_logo.svg.png") left center no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-19-logo{background: url("/public/src/images/Sioux_Falls_Skyforce_logo.svg.png") left center no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-20-logo{background: url("/public/src/images/Caliente_Clippers_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-21-logo{background: url("/public/src/images/Northern_Arizona_Suns_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-22-logo{background: url("/public/src/images/Santa_Cruz_Warriors_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-23-logo{background: url("/public/src/images/South_Bay_Lakers_logo.svg.png") left center no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-24-logo{background: url("/public/src/images/Stockton_Kings_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-25-logo{background: url("/public/src/images/Austin_Spurs_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-26-logo{background: url("/public/src/images/Rio_Grande_Valley_Vipers_Logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-27-logo{background: url("/public/src/images/Salt_Lake_City_Stars_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.g-leauge-team-28-logo{background: url("/public/src/images/Texas_Legends_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}

.nba-leauge-team-1-logo{background: url("/public/src/images/Boston_Celtics.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-2-logo{background: url("/public/src/images/Brooklyn_Nets_newlogo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-3-logo{background: url("/public/src/images/New_York_Knicks_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-4-logo{background: url("/public/src/images/Philadelphia_76ers_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-5-logo{background: url("/public/src/images/Toronto_Raptors_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-6-logo{background: url("/public/src/images/Chicago_Bulls_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-7-logo{background: url("/public/src/images/Cleveland_Cavaliers_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-8-logo{background: url("/public/src/images/Pistons_logo17.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-9-logo{background: url("/public/src/images/Indiana_Pacers.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-10-logo{background: url("/public/src/images/Milwaukee_Bucks_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-11-logo{background: url("/public/src/images/Atlanta_Hawks_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-12-logo{background: url("/public/src/images/Charlotte_Hornets_(2014).svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-13-logo{background: url("/public/src/images/Miami_Heat_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-14-logo{background: url("/public/src/images/Orlando_Magic_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-15-logo{background: url("/public/src/images/Washington_Wizards_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-16-logo{background: url("/public/src/images/Denver_Nuggets.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-17-logo{background: url("/public/src/images/Minnesota_Timberwolves_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-18-logo{background: url("/public/src/images/Oklahoma_City_Thunder.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-19-logo{background: url("/public/src/images/Portland_Trail_Blazers_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-20-logo{background: url("/public/src/images/Utah_Jazz_logo_(2016).svg.png") left center no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-21-logo{background: url("/public/src/images/Golden_State_Warriors_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-22-logo{background: url("/public/src/images/Los_Angeles_Clippers_(2015).svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-23-logo{background: url("/public/src/images/Los_Angeles_Lakers_logo.svg.png") left center no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-24-logo{background: url("/public/src/images/Phoenix_Suns_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-25-logo{background: url("/public/src/images/SacramentoKings.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-26-logo{background: url("/public/src/images/Dallas_Mavericks_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-27-logo{background: url("/public/src/images/Houston_Rockets.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-28-logo{background: url("/public/src/images/Memphis_Grizzlies.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-29-logo{background: url("/public/src/images/New_Orleans_Pelicans_logo.svg.png") left top no-repeat; width: 30px; height: 30px; display: inline-block;}
.nba-leauge-team-30-logo{background: url("/public/src/images/San_Antonio_Spurs.svg.png") left center no-repeat; width: 30px; height: 30px; display: inline-block;}
.team-nba-icon img{height: 40px; margin-right: 10px;}
.team-gleauge-icon img{height: 40px; margin-right: 10px;}
.teamssection h4{font-weight: bold;}