.annotation-root {
  width: 100%;
  height: 645px;
}
.annotation-top {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 80%;
  /*border: 2px solid #d0cece;
  margin-top: 10px;*/
}
.annotation-bottom {
  width: 100%;
  height: 10%;
  border: 2px solid #d0cece;
  margin-top: 1%;
}
.annotation-child {
  width: 100%;
  height: 95%;
  /*border: 2px solid #d0cece;*/
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.top-text {
  height: 10%;
  color: #b00e29;
  font-size: 1.75rem;
  font-weight: 600;
}

.atn-gc {
  /* border: 1px solid #d0cece; */
  height: 80%;
  width: 100%;
  /* margin-top: 5%; */
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: auto;
}
.antn-btn {
  background: #f82d19;
  width: 70px;
  border-radius: 20px;
  height: 35px;
  float: right;
  color: white;
  margin: 0.5rem;
}
.antn-token {
  height: 35px;
  width: fit-content;
  border-radius: 20px;
  padding: 7px 10px 6px 10px;
  margin: 6px;
  background: #777;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 3px 3px 3px #292929;
}
.antn-input {
  height: 35px;
  border: 1px dashed grey;
  width: fit-content;
  border-radius: 20px;
  padding: 6px;
  margin: 6px;
  font-weight: 600;
  outline: none;
}

.right-panel-loader {
  height: 60px;
  margin-top: 5px!important;
}