.categoryHighlight{
    color: #a42038; font-weight: bold;
}

/* .autosuggest input {
    color: red
} */

.react-autosuggest__input {
    width: 700px;
    height: 37px;
    border-radius: 50px;
    padding-left: 10px;
    margin-right:20px;
    padding-inline-end: 40px;
}

.react-autosuggest__suggestions-container--open {
    background-color: #f5f5f5;
    width: 700px;
    padding: 10px 10px;
    border-radius: 50px;
}

.react-autosuggest__suggestion {
    font-size: 12px;
    font-weight: bold;
    padding: 10px 15px 0px 15px;
    /* margin-bottom: 5px; */
    margin-left: 10px;
    cursor: default
}
.react-autosuggest__suggestion:hover{
    background-color: lightgray;
    border-radius: 15px ;
    padding:5px;
}


.search-icon {
    margin-left: -50px;
    font-size: 16px;
    cursor: pointer
}

.react-autosuggest__suggestion-container {
    display: none;
  }
  
  
  
  .react-autosuggest__suggestion-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
    border-radius: 15px ;
    padding:5px;
  }
  
  .react-autosuggest__section-container {
    border-top: 1px dashed #ccc;
  }
  
  .react-autosuggest__section-container--first {
    border-top: 0;
  }
  
  .react-autosuggest__section-title {
    padding: 10px 0 0 10px;
    font-size: 12px;
    color: #777;
  }
  

