.settings {
    background-color: transparent;
    margin:0px 0;
}
.settings .inner-form{padding: 10px;}
.settings table{border: 1px solid #ddd; border-collapse: unset; border-radius: 0;}
.settings table th{text-align: center; font-weight: bold;}
.settings table thead th{
    background: #e0e0e0;
    color: #0081c6;
}
.settings .btn-primary.focus, .settings .btn-primary:focus{
    outline: none;
}
.Settingspopup .react-stickies-wrapper .close::before, .Settingspopup .close::after {
    display: none;
}
.settings .box-logo{
  background: url("/public/src/images/box-logo.png") center center no-repeat transparent;
  height: 20px;
  display: block;
  width: auto;
    position: unset;
    top: unset;
    right: unset;
}
.settings .sharepoint-logo{
  background: url("/public/src/images/sharepoint-logo.png") center center no-repeat transparent;
  height: 20px;
  display: block;
  width: auto;
    position: unset;
    top: unset;
    right: unset;
}
.authorize-logo{
    background: url("/public/src/images/authorize.png") bottom left no-repeat transparent;
    height: 30px;
    display: inline-block;
    width: 20px;
    margin-left: 10px;
}
.mb-0{margin-bottom: 0px;}
.settings .nav-tabs li a::before{
    content: '';
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #323232;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(3.5px) rotateX(2deg);
    transform-origin: bottom;
}
/* CSS Added for slanted tabs original class commented above */
.settings .nav-tabs li a {
    background: transparent !important;
    color: #ffffff !important;
    border-color: transparent;
    position: relative;
    padding: 20px 20px 5px 20px;
    border: none !important;
    font-weight: bold;
    cursor: pointer;
}
.settings .nav-tabs .active a::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #1d428a;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(3.5px) rotateX(2deg);
    transform-origin: bottom;
}
/* CSS Added for slanted tabs original class commented above */
.settings .nav-tabs .active a:visited {
  border-radius: 0;
  background: transparent !important;
  color: #fff;
  border-color: transparent;
  border: none !important;
}
.Settingspopup.modal-header .close {
    margin-top: -2px;
    color: #f1f1f1;
    opacity: 1;
}

.green-text {
    color: green;
}
.red-text {
    color: red;
}

.centered-aligned-text {
    text-align: center;
    vertical-align: middle;
}

.action-column {
    width: 60%;
}
.status-column {
    width: 30%;
}
.bottom-margin {
    margin-bottom: 3px;
}
.settings-header {
    font-size: 15px;
}

.tree-container {
    height: 300px;
    overflow: auto;
}

.connect-to-datasource {
    width: 120px;
}

.settings-dialog {
    width: 90vw;
    max-width: 90vw;
}