.autoComplete-input {
    outline: none;
    border: 1px solid grey;
    width: 500px
}


.share-form {
    margin-top:30px
}

.user-label {
    margin-top: 10px;
    text-align: left;
}
/* CSS Added for slanted tabs */
.share-file .nav-tabs li a::before{
    content: '';
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #323232;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(3.5px) rotateX(2deg);
    transform-origin: bottom;
}
/* CSS Added for slanted tabs original class commented above */
.share-file .nav-tabs li a {
    background: transparent !important;
    color: #ffffff !important;
    border-color: transparent;
    position: relative;
    padding: 20px 20px 5px 20px;
    border: none !important;
    font-weight: bold;
    cursor: pointer;
}
.share-file .nav-tabs .active a::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #1d428a;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(3.5px) rotateX(2deg);
    transform-origin: bottom;
}
/* CSS Added for slanted tabs original class commented above */
.share-file .nav-tabs .active a:visited {
  border-radius: 0;
  background: transparent !important;
  color: #fff;
  border-color: transparent;
  border: none !important;
}
/*Slanted Tabs Css End */
.shared-user-pic{
    width: 50px;
    background: #ddd;
    padding: 10px;
    text-align: center;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    border-radius: 5px;
}
.shared-user-pic i{
    font-size: 25px;
    color: #1d428a;
}
.shared-user-name{
    margin-top: 14px;
    font-weight: bold;
}
.chkbx-share-user{
    margin-top: 10px;
}