.right-note-panel {
   margin-top: 50px !important;
 }

.right-note-panel .slide-pane__content {
   position: relative;
   overflow-y: auto;
   padding: 0px 0px;
   flex: 1 1 auto;
}

.slickPaper button.close-notes {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    border: 0;
}

.close-notes {
    background: url(images/close-icon.png) left top no-repeat;
    float: right;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    /* opacity: .3; */
    position: absolute;
    right: 10px;
    top: 7px;
    z-index: 1;
    width: 22px;
    height: 22px;
    border: 0;
}
.notes-popup {z-index: 5000!important;}
@media screen and (min-width: 1602px) and (max-width: 1680px){
   .notes-popup{top:16px !important;}
}
@media screen and (min-width: 1446px) and (max-width: 1600px){
   .notes-popup{top:22px !important;}
}
@media screen and (min-width: 1402px) and (max-width: 1445px){
   .notes-popup{top:36px !important; height: 79% !important;}
}
@media screen and (min-width: 1360px) and (max-width: 1401px){
   .notes-popup{top:36px !important;}
}
@media screen and (min-width: 1360px) and (max-width: 1390px){
   .notes-popup{top:35px !important; height: 76% !important;}
}
@media screen and (min-width: 1279px) and (max-width: 1359px){
   .notes-popup{top:42px !important; height: 83% !important;}
}
/*@media screen and (min-width: 1402px) and (max-width: 1441px){
   .notes-popup{width:671px !important;}
}
@media screen and (min-width: 1367px) and (max-width: 1401px){
   .notes-popup{width:592px !important;}
}
@media screen and (min-width: 1281px) and (max-width: 1366px){
   .notes-popup{width:592px !important;}
}
@media screen and (min-width: 1157px) and (max-width: 1281px){
   .notes-popup{width:512px !important;}
}*/
@media screen and (min-width: 1030px) and (max-width: 1155px){
   .notes-popup{top:51px !important; height: 79% !important; /* width:380px !important;*/}
}
@media screen and (min-width: 1000px) and (max-width: 1026px){
   .notes-popup{top:51px !important; height: 79% !important;/* width:260px !important;*/}
}

.sp-container {
    height: 100%;
    overflow-y: hidden;
}

.sp-tree {
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    position: relative;
    margin: 0;
    list-style: none;
    background: #e9e3a1;
    font-family: "Segoe UI", Nitti, "Microsoft YaHei", monospace !important;
    border-top-left-radius: 10px;
    width:85%;
   float: left;
}

.sp-tree-userbox {
   float: left;
   width: 15%;
   background: #e8e8e8;
   height: 100%;
   overflow-y: auto;
   padding: 10px 0px;
}

.notes-tab-1 {
/*    position: absolute;
   bottom: 0;
   left: 42px; */
   padding: 3px 10px;
   /* background: #fff; */
   font-weight: bold;
   width: 76px;
   float: left;
   margin-left: 45px;
   text-align: center;
   /* width:70px;
   border-top-right-radius: 5px;
   border-top-left-radius: 5px; */
}

.notes-tab-2 {
   position: absolute;
   bottom: 0;
   left: 120px;
   padding: 3px 10px;
   background: #e8e8e8;
   font-weight: bold;
   width: 76px;
   float: left;
   margin-left: 1px;
   text-align: center;
   border-right: 1px solid #a5a5a5;
   border-top: 1px solid #ddd;
   border-bottom: 3px solid #ddd;
   /* border-top-right-radius: 5px;
   border-top-left-radius: 5px; */
}

.notes-tabs-wrapper{
   position: absolute;
   bottom: 0;
   background: #e8e8e8;
   width: 85%;
   padding: 0;
   border-top: 1px solid #a5a5a5;
}

.notes-tabs-active{
   border-left: 1px solid #a5a5a5;
   border-right: 1px solid #a5a5a5;
   border-bottom: 3px solid #03A9F4;
   background: #fff;
}

.user-tabs{
   position: relative;
   z-index: 1;
   width: 100%;
   color: #fff;
   padding: 2px;
   text-align: left;
   display: inline-block;
   font-weight: bold;
   background: #959595;
   margin-bottom: 2px;
}

.active-user {
   background-color: #03A9F4;
}

/* .user-tabs::before{ */
   /* content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: .5em;
   left: 0;
   z-index: -1; */
   /* border-bottom: none; */
  /*  border-radius: 10px 10px 0 0; */
   /* background: #959595;
   box-shadow: 0 2px hsla(0,0%,100%,.5) inset; */
   /* transform: perspective(3px) rotateX(2deg);
   transform-origin: bottom; */
/* } */