<div class="sp-lineItem {{horizontalLinesClass}}" style="height: 30px;">
    <div class="sp-item">
        <div class="sp-item-wrapper">
            <div class="sp-input tree-data editablediv"></div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>
