<div class="sp-lineItem {{horizontalLinesClass}}">
    <span class="icons turn-into" ng-click="setDataOptions($event, $parent);showOptionsPopup($event, data)" ng-show="data.type !== 'image'">...</span>

    <div class="sp-item" style="margin-left:{{parentIndex*30}}px;">
    <!-- <div class="sp-item" style="margin-left:30px;"> -->

        <div ng-switch on="data.type">
            <span class="sp-toggleExpandIcon">
                <span ng-class="{'sp-toggleExpand': !data.nodes.length}" class="sp-expandChildren" style="width:10px; float:left; z-index:2; left: -2px;" sp-expand></span>
            </span>

            <div ng-switch-when="checkbox" class="sp-item-wrapper">
                <div class="sp-typeIcon">
                    <input type="checkbox" ng-change="sendDataToParent()" ng-model="data.checkboxChecked" />
                </div>
                <div contenteditable sp-editable class="sp-input tree-data editablediv" ng-blur="onNgblur($event, data)" ng-keydown="keyDown($event, data, $parent, $index, parentIndex)" ng-bind-html="data.name1 | spUnsafe"
                    data-sptaskid="{{data.id}}" ng-dblclick="openLinks($event, data);"   ng-focus="onNgFocus(data, $event,$parent);" onmousemove="return false;" ng-click="ctrlSelection($event, data, $parent, $index,parentIndex)"
                    ng-class="[{'sp-strike-through': data.checkboxChecked === true}, data.headingClass]" ng-mouseup="checkTextSelection($event)" ng-keyup="showIntellisense($event, data)">
                </div>
            </div>

            <div ng-switch-when="image" class="imageContainer">
                <span style="cursor: pointer">
                </span>
                <div readonly contenteditable sp-editable class="sp-input tree-data editablediv" data-sptaskid="{{data.id}}" ng-keydown="keyDown($event,data,$parent, $index,parentIndex)" ng-class="data.classNames">
                    <img ng-src="{{data.src}}" data-sptaskid="{{data.id}}" ng-click="imageClick($event)" id="file_{{data.id}}" ng-style="{{data.styles}}" />
                </div>
            </div>
            <div ng-switch-when="unorderedList" class="sp-item-wrapper">
                <span class="sp-typeIcon">
                    <span class="sp-bullet"></span>
                </span>
                <div contenteditable sp-editable class="sp-input tree-data editablediv" ng-blur="onNgblur($event,data)" ng-keydown="keyDown($event,data,$parent, $index,parentIndex)" ng-bind-html="data.name1 | spUnsafe"
                    data-sptaskid="{{data.id}}" ng-dblclick="openLinks($event, data);"   ng-focus="onNgFocus(data, $event,$parent);" onmousemove="return false;"
                    ng-keyup="showIntellisense($event, data)" ng-click="ctrlSelection($event, data, $parent, $index,parentIndex)" ng-class="[data.headingClass, data.type]" ng-mouseup="checkTextSelection($event)">
                </div>
            </div>
            <!-- <div ng-switch-when="unorderedList">
            </div> -->
            <div ng-switch-default>
                <div class="sp-item-wrapper">
                    <!-- <span class="sp-typeIcon"></span> -->
                    <div contenteditable sp-editable class="sp-input tree-data editablediv" ng-blur="onNgblur($event,data)" ng-keydown="keyDown($event,data,$parent, $index,parentIndex)" ng-bind-html="data.name1 | spUnsafe"
                         data-sptaskid="{{data.id}}" ng-dblclick="openLinks($event, data);"   ng-focus="onNgFocus(data, $event,$parent);" onmousemove="return false;"  
                        ng-keyup="showIntellisense($event, data)" ng-click="ctrlSelection($event, data, $parent, $index,parentIndex)" ng-class="[data.headingClass, data.type]" ng-mouseup="checkTextSelection($event)">
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>

<ul dnd-list="data.nodes" dnd-drop="dropCallback(event, index, item, external, type, 'containerType', $parent)" style="text-align:left;">
    <li class="sp-child-tree-task" ng-repeat="data in data.nodes" ng-init="parentIndex = parentIndex +1;" dnd-selected="models.selected = data" ng-class="{'selected': models.selected === data}" ng-include="'/public/src/app.slickNotes/slick-paper-nested-template.html'" dnd-draggable="data"
        dnd-moved="onDrop(data, $parent, $index)" dnd-effect-allowed="move"></li>
</ul>
