.attach-root{
    width: 100%;
    height: 500px;
    margin-top:10px

}
.list-item {
    float: right;
    flex-basis: auto;
    border-right: 1px solid #808080;
    padding-right: 15px;
    margin-right: 25px;
  }
  .list-item:nth-last-child(1) {
    float: right;
    flex-basis: auto;
    border-right: 0px solid #808080;
    padding-right: 15px;
    margin-right: 25px;
  }