@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900;");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

body {
  font-family: "Roboto", sans-serif;
  /* background: url("/public/src/images/basketball-court-2.jpg") left center no-repeat #32352E; */
  /* background: url("/public/src/images/anylam_background.jpg") right bottom no-repeat #32352E; */
  -webkit-font-smoothing: antialiased;
}

/* .anylam-background {
  background: url('https://st.depositphotos.com/1907633/2184/i/950/depositphotos_21843927-stock-photo-a-dna-in-medical-background.jpg') left bottom repeat #010819;
}

.nba-background {
  background: url("/public/src/images/basketball-court-2.jpg") left center no-repeat #32352E;
} */

.filter_section {
  box-shadow: none;
  /*background: #152b5a;*/
  background: transparent;
  position: relative;
  top: 80px;
  /*position: fixed;*/
  height: 90%;
  /*min-height: 100%;
  width: 256px;
  left: 0;
  padding: 0;
  top: 62px;*/
  /* width: 16.66666%; float: left; */
  width: 14%;
}
.search_col_list {
  overflow: auto;
  /* height: 679px; */
  height: 100%;
  
  
}
/* AMIT DESHMUKH: ONLY FOR TRIAL */
.trial-class-for-floating-left-panel {
  position: fixed;
  width: 30%;
}

.sidebar-collapse {
  background-color: transparent;
}
#root {
  height: 100%;
}
.section_header a {
  background: #323232;
  padding-left: 7px !important;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff !important;
  /*text-shadow: 2px 2px 1px #1b1b1b;*/
  text-transform: uppercase;
  /*letter-spacing: 1.5px;*/
}
#side-menu li ul {
  display: none;
}
.nav.left_nav {
  /*background:rgb(48, 54, 60);*/
  padding-top: 0px;
  position: relative;
}
.nav.left_nav li div {
  color: #c0c0c0;
  font-weight: 500;
  padding: 3px 0px 3px 6px;
  font-size: 14px;
}
ul.nav.left_nav li.open_list > div {
  color: #e8e5e5;
  font-weight: 500;
  cursor: pointer;
}
ul.nav.left_nav li.open_list > div :hover {
  color: #fff !important; /*font-weight: 700;*/
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}
.nav.left_nav li {
  padding: 0px 5px;
}
.nav.left_nav .fa.arrow {
  color: #fff;
  font-size: 22px;
  margin-top: -3px;
  margin-right: 5px;
}
.search_col_list {
  overflow: auto;
  height: 85%;
}
.tree_arrow {
  color: #d6d5d5 !important;
  font-size: 22px;
  margin-top: -3px;
  margin-right: 5px;
}
li.section_header {
  border-bottom: 1px solid #6e6c96 !important;
} /*margin-top:30px; border-top: 4px solid #c0c0c0!important;*/
.nav.left_nav li.open_list ol li {
  /*border-bottom: 1px solid #808080 !important;*/
  padding: 3px 0px;
} /* border-bottom:1px solid #808080!important; */

.angular-ui-tree-handle :hover {
  cursor: pointer !important;
  color: #fff !important;
  font-weight: 700 !important;
}
.angular-ui-tree-handle {
  /* cursor: move;
    font-weight: 700; */
  text-decoration: none;
  box-sizing: border-box;
  min-height: 20px;
  line-height: 20px;
}

.scroll_msg {
  position: absolute;
  bottom: 70px;
  width: 100%;
  z-index: 100;
  color: #fff29a;
  text-align: center;
  padding: 15px;
  font-size: 18px;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(48, 54, 60, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(48, 54, 60, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(48, 54, 60, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#30363c',GradientType=0 ); /* IE6-9 */
}

.angular-ui-tree-nodes {
  position: relative;
  margin: 0;
  padding: 0;
}
/*.bold-label {
    font-weight: 700!important;
}*/
.selected-node {
  color: #fff !important;
  font-weight: 700 !important;
}
.facet_count {
  font-weight: 500 !important;
  font-size: 12px;
}

.content-section {
  /*background: #FFFFFF;*/
  height: 100%;
  min-height: 100%;
  margin-left: 0;
}

.main-section {
  /*margin-left: 256px;*/
  background: #fff;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  top: 75px;
  z-index: 2;
  overflow-y: auto;
  height: 90%;
}

/* popup css changes start */
.ag-grid-tb {
  height: 447px;
  /* padding-top: 10px; */
}
.ag-theme-alpine .ag-row-selected {
  background-color: rgb(255, 245, 157) !important;
}

.ag-grid-tb .ag-header {
  background-color: #0c6491 !important;
  border: none;
  font-weight: bold;
  font-size: 13px;
  /* text-align: left; */
  white-space: nowrap;
  vertical-align: middle;
  color: #fff /* color: #fff; */;
}
.ag-grid-tb .ag-header-row {
  color: #fff /* color: #fff; */;
}
.ag-grid-tb .ag-row {
  font-size: 13px;
  white-space: nowrap;
}

.ag-grid-tb .ag-row.ag-row-odd {
  background-color: #f9f9f9;
}
.ag-grid-tb .ag-cell {
  vertical-align: middle;
  text-align: left;
}
/* popup css changes end */
.merge-btn {
  margin-left: 10px;
  margin-bottom: 10px;
}

.user-tag-header {
  min-width: 170px;
}
.mrr-tag-header {
  min-width: 60px;
}

.mrr-tag-edit-cell {
  height: 25px !important;
  padding: 5px !important;
  border-radius: 25px;
  font-size: small;
}

.custom-search-input {
  /*width: 460px;*/
  width:auto;
  float: left;
  /* border: 1px red solid; */
  margin-top: 2px;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  /*Below properties added for search move up*/
  position: fixed;
  z-index: 9999;
  top: 11px;
  left:22%;
}

.custom-search-input .search-query {
  /*-webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
     border-radius: 30px; */
  outline: none;
  width: 100%;
  padding: 9px 10px !important;
  border: none;
  float: left;
  font-size: 15px;
  color: #323232 !important;
  /* box-shadow: 0px 0px 10px 3px #bdbdbd; */
  /* border: #9e9e9e 1px solid; */
  /* margin-left: 11px; */
  /* margin-bottom: 15px; */
  /* margin-top: 10px;*/
  /*Belwo properties Added for top postion of search bar*/
  margin-top:0px;
  border-top-left-radius: 22px;
  border-bottom-left-radius: 22px;
}

.custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  /* left: -202px !important; */
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 30px;
  color: black;
}

.search-query:focus + button {
  z-index: 3;
}

.custom-search-input .input-align {
  width: 25px;
  margin-right: 10px;
  text-align: center;
  /*Belwo properties added for search box moved up*/
  background: #fff;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.custom-search-input .input-align .btn {
  background: transparent;
  padding-left: 0;
  padding-top: 0px;
}

.cog_div {
  margin: 10px 0px 0px 0px;
}

.btn-cog {
  font-size: 27px;
  background: transparent;
  border: 0;
  color: #b00e29;
  margin-top: -4px;
  outline: none;
}
.result {
  /* padding-top:15px; */
  display: "flex";
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: "100px";
}
.result-child1 {
  /* margin-bottom: 2rem; */
  border-bottom: 1px solid #c0c0c0;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 15px;
  border-radius: 15px;
}
.result-child2 {
  color: #337ab7;
  padding: 10px 0px;
  font-weight: 500;
  font-size: 13px;
  clear: both;
}
.bread-crum-wrapper{
  width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-item {
  float: right;
  flex-basis: auto;
  border-right: 1px solid #808080;
  padding-right: 15px;
  margin-right: 15px;
}
.list-item:nth-last-child(1) {
  float: right;
  flex-basis: auto;
  border-right: 0px solid #808080;
  padding-right: 15px;
  margin-right: 25px;
}
/*Added for revamp*/
.navbar-right img {
  height: 65px;
}
.filter-section-inner {
  /*background: linear-gradient(to bottom, #3481b4, #3481b4);*/
  background: transparent;
  height: 100%;
  padding-top: 25px; /*box-shadow: 2px 0px 8px #152b5a;*/
}
/*.navbar-default {
  background: linear-gradient(to bottom, #3481b4, #3481b4);
  background: url("/public/src/images/Header-Bg-4.png") left top no-repeat;
  height: 105px;
  z-index: 1;
}*/
.navbar-default {
    height: 105px;
    z-index: 1;
    background: rgb(133 207 243 / .8);
}
.cog_div {
  margin: 10px 0;
}
.card {
  margin: 0 0 0 0;
  padding: 0 10px 0 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  /* height: 709px; */
  height: 100%;
  min-height: 600px;
}
.nav.left_nav li {
  padding: 0px 0px;
  border-top: 1px solid #53616b !important;
}
.test .angular-ui-tree-nodes {
  border-top: none !important;
}
.nav.left_nav {
  background: #323232;
  padding: 0px;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #dadada;
  background-color: transparent;
}
.pl-0 {
  padding-left: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
/*Added for revamp*/
.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  clear: both;
}
/* .modal-content {
  width: 500px;
} */
.myapply_btn {
  height: 4rem;
  width: 16rem;
  margin: 10px 28px;
  border-radius: 20px;
  color: #2a2a8c;
  font-size: 1.75rem;
}
.filter-token {
  text-transform: uppercase;
  font-size:11px;
  border-radius: 30px;
  display: inline-block;
  padding: 10px;
  margin: 0px 12px 12px 0px;
  background: #323232;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

.pipe {
  border-right: 1px solid #808080; padding-right: 5px
}

.right-info-panel {
  margin-top: 50px !important;
}

.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: 0 !important;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  z-index: 0 !important;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.pagination-button {
  padding: 5px 10px;
  color: white;
  background-color: #323232;
  border: 2px solid #fff;
  cursor: pointer;
  border-radius: 20px;
}
.pagination-input {
  width: 50px;
  text-align: center;
  float: left;
  margin-left: 10px;
  color: #323232;
  font-weight: 600;
  border: 2px solid;
  border-radius: 20px;
  padding: 4px;
}
.pagination-totalpage {
  font-size: 16px;
  border: none;
  background: none;
  padding: 6px;
  font-weight: 600;
  color: #323232;
}
.sidebar-collapse .fa-angle-right:before {
  content: "\f105";
  color: #ababab;
}
.filter-icon {
  background: url("/public/src/images/filter-icon.png") left -3px no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-top: 8px;
}
.filter_section .filter-icon {
    background: url(/public/src/images/filter-icon.png) left center no-repeat;
    width: 16px;
    height: 20px;
    display: inline-block;
    top: 5px;
    background-size: contain;
    position: relative;
    margin-top:0px;
}
#filterDiv .section_header a {
  display: inline-block;
}
.doc-tree-icon {
  margin-left: 10px;
}
.collapse-leftmenu {
  color: #323232 !important;
  position: absolute;
  right: 0;
  height: 20px;
  width: 18px;
  text-align: center;
  background: #fff;
  cursor: pointer;
  top: 15px;
  z-index: 1;
}
.collapse-leftmenu .fa {
  font-size: 16px;
}
ul.nav.left_nav li.open_list > div .collapse-leftmenu:hover {
  color: #ef5024 !important; /*font-weight: 700;*/
}
ul.nav.left_nav li.open_list > div .collapse-leftmenu i:hover {
  color: #ef5024 !important; /*font-weight: 700;*/
}
.left-sec {
  width: 17%;
}
.middle-sec {
  width: 60.333333%;
}
.file-info-section {
	background-color: #f5f5f5;
	margin-top: 90px;
  width:22%;
  /* height: 695px; */
  height: 100%;
  overflow-y: auto;
  
 }
/* AMIT DESHMUKH: ONLY FOR TRIAL */
 .trial-for-floating-right-panel {
  position: fixed;
  right: 0px;
 }

.right-sec {
  width: 26.66666667%;
}
.left-sec-collapsed {
  width: 3%;
}
.middle-sec-expanded {
  width: 80.333333%;
}
.left-sec-collapsed .collapse-txt {
  display: none;
}
.slide-pane__overlay {
  z-index: 9;
  position: absolute;
}
#home .rc-tree .rc-tree-treenode {
  margin: 0;
  padding: 0;
  line-height: 30px;
  white-space: nowrap;
  list-style: none;
  outline: 0;
  letter-spacing: 0.5px;
}

.custom_tree .rc-tree .rc-tree-treenode {
  margin: 0;
  padding: 0;
  line-height: 0px;
  white-space: nowrap;
  list-style: none;
  outline: 0;
  letter-spacing: 0.5px;
  padding: 4px 0px 2px 6px !important;
}

#home .rc-tree .rc-tree-title {
  margin-left: 2px;
}

/*.sliding-panel-wrapper .nav-tabs a{
	background: transparent;
    border: none;
    color: #323232;
    text-indent: 30px;
    margin-top: 15px;
}

.sliding-panel-wrapper .nav-tabs .active::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-bottom: none;
  border-radius: 0;
  background: #1d428a;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom right;
}
.sliding-panel-wrapper .nav-tabs li::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-bottom: none;
  border-radius: 0;
  background: #eaeaea;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom right;
}
.sliding-panel-wrapper .nav-tabs > li.active > a,
.sliding-panel-wrapper .nav-tabs > li.active > a:focus,
.sliding-panel-wrapper .nav-tabs > li.active > a:hover {
  background: transparent;
  color: #fff;
  border: none;
}
.sliding-panel-wrapper .tree-border {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  float: left;
  width: 100%;
  padding: 10px;
}
.main-section input:focus {
  outline: none;
}
*/
.sliding-panel-wrapper .nav-tabs > li {
  margin-bottom: 0px;
  margin-top: 10px;
}
.sliding-panel-wrapper .tree-border {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  float: left;
  width: 100%;
  padding: 10px;
  background: #f1f1f1;
}
/*.sliding-panel-wrapper .nav-tabs li a {
  border-radius: 15px 15px 0 0;
  background: #ffffff;
  color: #323232;
  border-color: #ddd;
} Commented for modification of button shape at the bottom css has been added*/
.sliding-panel-wrapper .nav-tabs .active a:link {
  border-radius: 15px 15px 0 0;
  background: #1d428a;
  color: #fff;
  border-color: #ddd;
}
.sliding-panel-wrapper .nav-tabs .active a:hover {
  border-radius: 15px 15px 0 0;
  background: #1d428a;
  color: #fff;
  border-color: #ddd;
}
/*.sliding-panel-wrapper .nav-tabs .active a:visited {
  border-radius: 15px 15px 0 0;
  background: #1d428a;
  color: #fff;
  border-color: #ddd;
} Commented for modification of button shape at the bottom css has been added*/
.main-section input:focus {
  outline: none;
}
.custom-search-input .input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  border: #9e9e9e 1px solid;
  border-radius: 30px;
  margin-left: 11px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 540px;
  /*box-shadow: 0px 0px 10px 3px #bdbdbd; commented and added below property*/
  box-shadow: 0px 0px 10px 3px #111248;
}
.modal-dialog input,
.modal-dialog select,
.modal-dialog button {
  border-radius: 30px;
}
.dashbcards {
  box-shadow: 0 11px 7px -10px rgb(204 204 204 / .8);
}
.dashbcards-heading {
  /*background: #525252;*/
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  /*border-top-left-radius: 10px;
  border-top-right-radius: 10px;*/
  position: relative;
  width:45%;
}
.dashbcards-heading::before{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #525252;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(3.5px) rotateX(2deg);
    transform-origin: bottom;
}
.dashbcards-heading-text{
    padding: 10px;
    position: relative;
    top: 8px;
}
.dashbcards-cardcontent {
  padding: 10px;
  color: #323232;
  font-size: 14px;
  text-align: center;
  min-height: 190px;
  border: 1px solid #ececec;
  overflow-x: hidden;
  overflow-y: auto;
  height: 20px;
  background: #efefef;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 15px;
  font-weight: normal;
}
.dashbcards-cardcontent .table {
  border: 1px solid #ddd;
  border-radius: 0;
}
.main-section .fa-comment-o,
.main-section .fa-file-word-o,
.main-section .fa-file-excel-o,
.main-section .fa-file-pdf-o,
.main-section .fa-bookmark {
  margin: 0 5px;
}
.resultarea{
    font-size: 14px;
    color: rgb(29, 66, 137);
    margin: 0px;
    font-weight: 700;
    float: left;
    width: 70%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.resultarearightblock{
  float: right;
  width:30%;
  text-align:right;
  overflow:hidden;
  white-space:noWrap;
  text-overflow:ellipsis;
}
.resultarea i {
  font-style: normal;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.myurl {
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 10;
}
.selected_link {
  background:#333c43;
}
.selected_link.open_list > div {
  color: #6FC0FD !important;
}
.text-hrs {
  padding-left: 9px;
}
.text-hrs-emails {
  padding-left: 9px;
}
.text-small {
  font-size: 12px;
}
.card-body h4 {
  margin-bottom: 20px;
}
.dashbcards-footer {
  background: #f3f3f3;
  padding: 5px;
  font-size: 14px;
  font-weight: normal;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dashbcards-footer .fa-file-word-o {
  color: #005986;
}
.dashbcards-footer .fa-file-pdf-o {
  color: #c8102e;
}
.nav.left_nav {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.result_token {
  padding: 2px 5px;
  text-align: center;
  border-radius: 15px;
}
select:focus {
  outline: none;
}
.dashbcards-cardcontent .table > tbody > tr > td {
  text-align: left;
}
.slide-pane {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  background: #6d6d6d !important;
}
.player-1 {
  background: url("/public/src/images/player-1.png") left -5px no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}
.player-2 {
  background: url("/public/src/images/player-2.png") left -5px no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}
.player-3 {
  background: url("/public/src/images/player-3.png") left -5px no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}
.player-4 {
  background: url("/public/src/images/player-4.png") left top no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
}
/*Dashboard CSS*/
.row-icon {
  float: left;
  width: 87%;
  margin: 3px 0;
  text-align: left;
  text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.date-section {
  float: left;
  width: 10%;
  text-align: right;
  margin: 3px 0;
}
.row-icon .fa-file-word-o {
  color: #005986;
}
.row-icon .fa-envelope {
  color: #e8c442;
}
.row-icon .fa-file-pdf-o {
  color: #c8102e;
}
.file-path {
  color: #9e9e9e;
  font-size: 12px;
  font-weight: normal;
  margin-left: 25px;
}
.row2dashb .dashbcards-cardcontent {
  min-height: 230px;
}
.row2dashb .row-icon {
  margin: 5px 0;
}

.sp_image {
  width: 38px;
  height: 38px!important;
    position: fixed;
    right: 0;
    top: 65px;
    color: #1f3462;
    font-size: 24px;
    margin-left: 70px;
    cursor: pointer;
}

.note_image {
  width: 38px;
  height: 38px!important;
    position: fixed;
    right: 45px;
    top: 57px;
    color: #fff;
    font-size: 24px;
    margin-left: 70px;
    cursor: pointer;
}

.box_pos {
  width: 38px;
  height: 38px!important;
    position: fixed;
    right: 75px;
    top: 63px;
    color: #fff;
    font-size: 24px;
    margin-left: 70px;
    cursor: pointer;
}

.loader {
  margin-top: 250px;
  text-align: center;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/*Inbox CSS*/
.tabbed-area{width:33%; border-right: 1px solid #e6e6e6; float: left; color: #323232; font-size: 14px; font-weight: normal;}
.tabbed-area-middle{width:33%; float: left; color: #323232; font-size: 14px; font-weight: normal; padding: 10px; border-right: 1px solid #e6e6e6; position: relative;}
.tabbed-area-last{width:33%; float: left; color: #323232; font-size: 14px; font-weight: normal; padding: 10px;}
.tabbed-area .tabs { list-style: none; margin:0; padding:0;}
.tabbed-area .tabs li { display: inline; }
.tabbed-area .tabs li a { color: black; float: left; display: block; padding:2px 10px; margin-left: -1px; margin-bottom: 15px; font-size: 16px; position: relative; left: 1px; background: white; text-decoration: none; }
/*.tabbed-area .tabs li a:hover { background: #ccc; }*/
.tabbed-area .group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.tabbed-area .box-wrap { position: relative; }
.tabbed-area div div { background: white; padding: 10px; width: 99%; color: #323232; font-size: 14px; font-weight: normal;}
/*.tabbed-area div div, .tabs li a { border: 1px solid #ccc; }*/
#box-one:target, #box-two:target, #box-three:target {
  z-index: 1;
}
#box-four:target a[href="#box-four"] { color: red; }
.inbx-info-wrapper{float:left; width:100%; padding: 10px 0 10px 0; border-bottom: 1px dashed #eaeaea;}
.inbx-left-section{width:85%; float:left; white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.inbx-right-section{width:14%; float:left; text-align:right;}
.inbx-left-section h5{margin:0 0 5px 0; font-size:16px;}
.email-sub{margin-bottom:5px; display:inline-block;}
.inbx-right-section .fa-trash-o{margin-left: 10px; display: inline-block;}
.tabbed-area-active{border-bottom: 2px solid #9d2e45;}
.icons-wrapper span{padding: 5px;}
.intials{width: 50px;
    float: left;
    border-radius: 50%;
    color: #fff;
    background: #9d2e45;
    height: 50px;
    padding: 13px;
    font-weight: bold;}
.emailbody{float: left; width: 100%; margin-top: 30px;}
.tabbed-area-middle .inbx-left-section{float:left; width:99%; padding: 5px; white-space: normal;}
.tabbed-area-middle .inbx-right-section{float: left;
    width: 83px;
    padding: 5px;
    position: absolute;
    right: 0;}
.mailtodesc{padding:6px;}
.nav-tabs{position: relative; z-index: 1;}
/* CSS Added for slanted tabs */
.sliding-panel-wrapper .nav-tabs li a::before{
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #323232;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(3.5px) rotateX(2deg);
    transform-origin: bottom;
}
/* CSS Added for slanted tabs original class commented above */
.sliding-panel-wrapper .nav-tabs li a {
    background: transparent !important;
    color: #ffffff;
    border-color: transparent;
    position: relative;
    padding: 25px 20px 5px 20px;
    border: none !important;
    font-weight: bold;
}
.sliding-panel-wrapper .nav-tabs .active a::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #1d428a;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(3.5px) rotateX(2deg);
    transform-origin: bottom;
}
/* CSS Added for slanted tabs original class commented above */
.sliding-panel-wrapper .nav-tabs .active a:visited {
  border-radius: 0;
  background: transparent !important;
  color: #fff;
  border-color: transparent;
  border: none !important;
}
/*Slanted Tabs Css End */
.modal-backdrop.fade,.modal-open .modal{z-index: 9999;}
.doc-attachment {
    padding: 2px 5px;
    text-align: center;
     color: #2a5599;
    margin-left: 5px;
    font-weight: 800;
}

.doc-attachment-true {
  background: #ffc8c4 !important;
  padding: 2px 5px;
  text-align: center;
  border-radius: 15px;
  animation: blinker 1s linear infinite !important;
  color: #2a5599;
  margin-left: 5px;
  font-weight: 800;
}

.result-child1 .fa-file-powerpoint-o{color: #ea5440 !important;}
.result-child1 .fa-file-pdf-o{color: #ea5440 !important;}
.result-child1 .fa-file-word-o{color: #2a5599 !important;}
.result-child1 .fa-file-excel-o{color: #1a7243 !important;}
.result-child1 .fa-envelope{color: #e8c442 !important;}
.filter_section .fa{color: #ffffff;}
.selected_link .fa{color: #6FC0FD;}
.outlook-strip{background: #f0f0f0;border-top: 1px solid #e1e1e1;border-bottom: 1px solid #e1e1e1;padding: 5px;}
.close-filter-icon{color: #ffffff !important;
    font-size: 17px;
    font-weight: bold;
    float: right;
    margin-top:4px;
    margin-right: 4px;
    cursor: pointer;
    position: absolute;
    right: 6px;
    z-index: 2;
}

.timestamp .tooltipTime {
  visibility: hidden;
  /* width: 195px; */
  background-color: #FAFAFA;
  color: #757575;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  border-radius: 30px;
  padding: 25px 25px 25px 15px;
  position: absolute;
  z-index: 1;
  /* top: 10px; */
  margin-top: 20px;
  margin-left: -20px;
  box-shadow: 0px 8px 16px 0px #162648;
}

.timestamp:hover .tooltipTime{ visibility: visible;}

.hide_div{ visibility: hidden;}

.timestamp .tooltipTime hr { background:#fff;}

.tooltipTime::after{
  content: "";
  position: absolute;
  bottom: 100%;
  /* left: 50%; */
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #000 transparent;
}
.srch_wthn_search{color: #ffffff; margin-left: 10px;}
.srch_wthn_search input[type=checkbox]{width:16px; height: 16px; bottom: 2px;}
.srch-whtn-search{
  margin-top: 0px;
    border: #9e9e9e 1px solid;
    border-radius: 30px;
    width: 440px;
}
.srch-whtn-search-focus{border: #01a0e1 1px solid;}
.srch-whtn-search .search-query{
  outline: none;
    width: 100%;
    padding: 9px 10px !important;
    border: none;
    float: left;
    font-size: 15px;
    color: #323232 !important;
    margin-top: 0px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}
.srch-whtn-search .btn{background: transparent;}
.srch-whtn-search-icon{
    position: absolute;
    right: -50px;
    top: 8px;
    color: #fff;
    font-size: 24px;
}
.customtooltip .customtooltiptext {
    visibility: hidden;
    position: absolute;
    width: 250px;
    /* background-color: #323232; */
    background-color: #FAFAFA;
    color: #757575;
    /* color: #fff; */
    text-align: left;
    padding: 10px;
    border-radius: 30px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0px 8px 16px 0px #162648;
}
.customtooltip-bottom {
    top: 135%;
    left: 40%;
    margin-left: -60px;
}
.customtooltip-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #323232 transparent;
}
.customtooltip:hover .customtooltiptext {
  visibility: visible;
  opacity: 1;
}
#searchQuerydiv .customtooltip .customtooltiptext {
    visibility: hidden;
    position: fixed;
    width: 250px;
    background-color: #323232;
    color: #fff;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
    top:9%;
}
#searchQuerydiv .customtooltip:hover .customtooltiptext {
  visibility: visible;
  opacity: 1;
}

.recent-style {
  margin-right: 5px;
  font-size: 17px;
}

.selected-document {
  background-color: #eee
}

.box-logo{
  background: url("/public/src/images/box-logo.png") left top no-repeat transparent;
  height: 20px;
  display: inline-block;
  width: 30px;
  position: relative;
  top: 0;
  right: 5px;
}
.sharepoint-logo{
  background: url("/public/src/images/sharepoint-logo.png") left top no-repeat transparent;
  height: 20px;
  display: inline-block;
  width: 22px;
  position: relative;
  top: 0;
  right: 5px;
}

.tree_div {
    margin-top: -90px;
    margin-left: -60px;
    margin-bottom: -50px
  }
  
.custom_tree {
    margin-bottom: 35px!important;
    margin-top: 60px
}


.custom_tree .customize-icon {
    margin-right: 10px
}

.custom_tree .rc-tree-node-content-wrapper {
    margin-left:-5px!important
}

.custom_tree .rc-tree-icon__customize {
    margin-left:-20px!important
}

.custom_tree .rc-tree-icon__close, .rc-tree-icon__open {
    margin-right:5px!important
}

.Settingspopup.modal-header {
    padding: 5px 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #2d2d2d;
    color: #fff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}


.legend_list { margin-top:4px; margin-right:5px; padding: 0px; float:right;}
.legend_list li { float:left; list-style-type: none; position: relative; margin: 0px 5px; border:1px solid #555; /*cursor: pointer;*/}
.legend_list li .legend_tooltip { width:20px; height:20px; display:block;}
.legend_list li .tooltiptext { visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top:35px;
    left: 50%;
    margin-left: -60px;
    }

.legend_list li.red_legend:hover .red_tt  { visibility: visible; }
.legend_list li.green_legend:hover .green_tt  { visibility: visible; }
.legend_list li.blue_legend:hover .blue_tt  { visibility: visible; }
.legend_list li.yellow_legend:hover .yellow_tt  { visibility: visible; }


.red {
  /*border: 1px solid #c5c5c5;*/
  padding: 2px;
  background: #ffc8c4;
  /*margin: 4px;*/
}
.green {
  /*border: 1px solid #c5c5c5;*/
  padding: 2px;
  background: #d6ffd7;
  /*margin: 4px;*/
}
.blue {
  /*border: 1px solid #c5c5c5;*/
  padding: 2px;
  background: #d1e1ff;
  /*margin: 4px;*/
}
.yellow {
  /*border: 1px solid #c5c5c5;*/
  padding: 2px;
  background: #fff29a;
  /*margin: 4px;*/
}
@media (min-width: 1000px) and (max-width: 1300px) {
.block-left{width: 75%;}
.block-right{width: 25%;}
.trial-for-floating-right-panel {position: fixed;right: 0px;}
.react-autosuggest__input{width:500px !important;}
.custom-search-input{left:24%;}
.resultarea{width: 60%;}
.resultarearightblock{width:40%;}
.result-child1{padding-left: 15px; padding-right: 15px;}
.card{
  min-width: 800px;
  /*overflow: auto;*/
}
}

.apply_btn { 
  color: #fff;
  background: #323232!important;
  font-size: 12px;
  /* font-weight: 600; */
  border: 1px solid grey;
  width: 25px;
  opacity: 1.65 !important;
  position: absolute;
  border-radius:20px;
  outline: none;
  padding: 0px 1px 1px 3px;
}

.add-to-collection-btn {
  padding: 0px 1px 1px 3px;
}
.add-to-collection-btn:focus {
  outline: none;
}