.miniversion-top-content{
    float: left;
    margin-bottom: 5px;
    width: 80%;
    /* font-size: 13px; */
}

.miniversion-bottom-content {
    float: left;
    /* margin-bottom: 10px; */
    margin-right: 10px;
    font-size: 12px;
}
.editicon{
    float: right;
    margin-right: -40px;
}
.displaynone{
    display: none;
}

.coming_soon_text {
    font-family: ui-rounded;
    font-weight: 800;
    color: #1c3f81;
    font-size: large;
}