.blue-icons {
    color: #ea5440;
}

.fa-file-pdf-o.blue-icons {
    color: #ea5440;
}

.fa-file-powerpoint-o.blue-icons {
    color: #ea5440;
} 

.fa-envelope.blue-icons {
    color: #e8c442;
}

.fa-file-excel-o.blue-icons {
    color: #2c8a15;
}

.file-node-from-tree .blue-icons{
    color: #fff;
}

.file-node-from-tree {
    background-color: #1d428a!important;
    color: #ffffff;
}

.no-left-margin-icon {margin-left: 0px!important;}

.right-panel-loader {
    height: 60px;
    margin-top: 5px!important;
  }

  .rc-tree-contextmenu {
    position: absolute;
    /* left: -9999px;
    top: -9999px; */
    z-index: 1070;
    display: block;
    background-color: #fff;
}

.rc-tooltip{
  z-index: 10;
  width: 150px;
  padding: 10px;
}

.custom_menu {
    background: #e5e5e5;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px #737373;
    padding: 0;
    border-radius: 5px;
    /* color: #eee; */
    font-size: 13px;
    font-weight: bold;
    /* padding-left: 20px; */
    cursor:pointer;
    text-align:left;
}

.doctree-editopt{
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

.rc-tree-contextmenu-hidden {
    display: none;
  }

  .rc-tree-contextmenu-inner {
    border: 1px solid #ddd;
    padding: 10px 20px;
  }

  .align-loader {
      text-align: center!important;
  }