.slide-pane__header {
    display: none!important;
}
.sliding-panel-wrapper {
    margin: -20px -23px;
}

.no-padding-both-sides {
    /* padding-right: 0px!important; */
    padding-left: 0px!important;
}

.document-tree-wrapper {
    height: 645px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    overflow-x: auto;
}

.center-align-content {
    display:table-cell;
    vertical-align:middle;
    text-align:center
}

.elementDisabled {
    pointer-events: none;
    cursor: default;
    opacity: .6
 }

.infobx-wrapper{
    border-bottom: 1px dashed #d8d8d8;
    /* margin-top:15px; */
    margin-bottom: 10px;
    padding: 10px 5px;
    margin-left: 10px;
    float: left;
    width: 100%;
}

.currentVersion {
    background: #8bc34a;
    float: left;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin-right: 8px;
    width:50px;
    text-align: center;
}

.versionbox{
    float: left;
    background: #548bf7;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    margin-right: 8px;
    width:50px;
    text-align: center;
}
.version-top-content{
    float: left;
    margin-bottom: 5px;
    width: 60%;
    /* font-size: 13px; */
}
.version-bottom-content{
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 12px;
}
.version-hilight{
    color: #548bf7;
    font-weight: bold;
}

.currentVersion-hilight{
    color: #8bc34a;
    font-weight: bold;
}
.txt-underline{
    text-decoration: underline;
    font-style: italic;
    margin-right: 10px;
}
.view-act-btn{
    float: left;
    background: #1d428a;
    padding: 5px 8px;
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}
.view-btn{
    float: left;
    background: #323232;
    padding: 5px 8px;
    border-radius: 5px;
    color: #fff;
    margin-right: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}
.version-comments-box{
    text-align: left;
    float: left;
    clear: both;
    margin-left: 59px;
    margin-bottom: 0;
    width:100%;
    color:#808080;
    font-size: 13px;
}
.version-heading{
    font-weight: bold;
    color: #1d428a;
    border-bottom: 1px dashed #d8d8d8;
    padding-bottom: 10px;
}
.file-info-section .version-heading {
    font-weight: bold;
    color: #1d428a;
    border-bottom: 1px dashed #d8d8d8;
    padding-bottom: 10px;
    padding-left: 10px;
}
.file-info-section .version-comments-box{
    margin-left: 0px;
}
.file-info-section .version-bottom-content{
    /* margin-top: 10px; */
}
/*.file-info-section .nav-tabs .active a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #1d428a;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(3.5px) rotateX(2deg);
    transform-origin: bottom;
}
.file-info-section .nav-tabs li a {
    background: transparent !important;
    color: #ffffff;
    border-color: transparent;
    position: relative;
    padding: 25px 20px 5px 20px;
    border: none !important;
    font-weight: bold;
}
.file-info-section .nav-tabs .active a:visited {
    border-radius: 0;
    background: transparent !important;
    color: #fff;
    border-color: transparent;
    border: none !important;
}
.file-info-section .nav-tabs {
    position: relative;
    z-index: 1;
}
.file-info-section .nav-tabs li a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background: #323232;
    box-shadow: 0 2px hsla(0,0%,100%,.5) inset;
    transform: perspective(3.5px) rotateX(2deg);
    transform-origin: bottom;
}*/
.file-info-section .nav-tabs{
    background: #323232;
}
.file-info-section .nav-tabs>li.active>a {
    background: transparent;
    color: #6FC0FD;
    border: none;
    border-bottom: 2px solid #6FC0FD;
}
.file-info-section .nav-tabs>li>a{
    color: #fff;
    border: none;
    cursor: pointer;
}