@charset "utf-8";
/* CSS Document */

* { padding: 0; margin: 0;border: 0; }

html, body { height: 100%;}

ul, li { list-style-type: none }

body { font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif; color: #333; /*background: #eff3f8; margin-top: 50px;*/ font-size: 14px; }

table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
table { border-collapse: collapse; border-spacing: 0; }

a { color: #2c8ada; }

p { margin-bottom: 10px; }

.h1, .h2, .h3, h1, h2, h3 { margin-top: 0;}

.crisp-img { image-rendering: -moz-crisp-edges; image-rendering: -o-crisp-edges; image-rendering: -webkit-optimize-contrast; image-rendering: crisp-edges; -ms-interpolation-mode: nearest-neighbor; }

/********************** LOGIN CSS START ************************/

#root>div {
  height: 100%;
}

#root>div>div {
  height: 100%;@charset "utf-8";
  /* CSS Document */
  
  * { padding: 0; margin: 0;border: 0; }
  
  html, body { height: 100%;}
  
  ul, li { list-style-type: none }
  
  body { font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif; color: #333; /*background: #eff3f8; margin-top: 50px;*/ font-size: 14px; }
  
  table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
  table { border-collapse: collapse; border-spacing: 0; }
  
  a { color: #2c8ada; }
  
  p { margin-bottom: 10px; }
  
  .h1, .h2, .h3, h1, h2, h3 { margin-top: 0;}
  
  .crisp-img { image-rendering: -moz-crisp-edges; image-rendering: -o-crisp-edges; image-rendering: -webkit-optimize-contrast; image-rendering: crisp-edges; -ms-interpolation-mode: nearest-neighbor; }
  
  /********************** LOGIN CSS START ************************/
  
  #root>div {
    height: 100%;
  }
  
  #root>div>div {
    height: 100%;
  }
  
  #root>div>div>div {
    height: 100%;
  }
  
  div.login-bg { width: 100%; height:100%; overflow: hidden; background:url("/public/src/images/login-banner.png") left center no-repeat #24262b; background-size:cover;}
  
  .login { margin-bottom: 0; -webkit-box-shadow: 0px 0px 25px 0px rgba(80, 80, 80, 0.46); -moz-box-shadow:0px 0px 25px 0px rgba(80, 80, 80, 0.46); box-shadow:0px 0px 25px 0px rgba(80, 80, 80, 0.46);min-height: 100%; height: 100%; }
  
  
  .login-page { min-height: 100%; height: 100%}
  
  .login-info { /*background: #166098;*/padding: 20px; min-height: 100%; height: 100%; }
  
  .login-banner { margin-top: 85px;}
  
  .form-signin { /*max-width: 450px; margin: 0 auto;*/ padding-top: 60px;}
  
  .login-banner img { margin-bottom: 40px}
  
  .banner-text { color: #fff; margin: 0 0 50px 35px; max-width: 650px; background: rgba(0, 0, 0, 0.60); padding: 10px 20px;}
  
  .login-banner h2 {font-size: 30px; font-weight: 600; margin-bottom: 20px;}
  
  .login-banner p, .form-signin p { margin-bottom: 20px; font-size: 20px; font-weight: 200;}
  
  .login-form { background: transparent; color: #637182; min-height: 100%; height: 100%; padding: 20px 40px; }
  
  .form-signin-heading { font-weight: 700; font-size: 30px; margin-bottom: 40px;color: #164b82; /*background: url(../images/login_ic.png) left no-repeat; text-indent: 45px;*/}
  
  .login-form label { font-weight:normal; font-size: 16px;}
  
  .login-form  input[type=text], .login-form  input[type=email], .login-form  input[type=password] {padding-left: 32px; border: 1px solid #929dac; height: 52px; margin-bottom: 10px; font-size: 16px; border-radius:30px;}
  
  .login-form .btn { width: 100%; background:#0e3f73; color: #FFFFFF;border-radius:30px; font-size: 20px; padding: 15px 0; outline: none;}
  
  .login-form .btn:hover {background:#2c4d70;}
  
  .login-form .btn:active {outline: none;}
  
  .ico { color: #d5e0ee; margin: -60px 0 0 0; float: left; padding: 15px 10px 20px 10px;position: relative; z-index: 1;}
  
  .login .row.no-gutters > [class^="container-fluid"] { padding-right: 0; padding-left: 0; }
  .t1 {
      font-size: 30px;
      color: #164b82;
      font-weight: 300;
      font-family: 'Open Sans', sans-serif;
    font-weight:bold;
  }
  .tagline{
    color: #fff;
      margin-top: 20px;
      margin-left: 30px
  }
  .microsoft-icon{
    background: url("/public/src/images/microsoft_icon.png") left top no-repeat;
    width:24px;
    height: 24px;
    display: inline-block;
    position: relative;
    top:4px;
  }
  
  .MS-login{
  border-radius: 30px
  }
  .login-header{
    background: #101010;
    height: 68px;
    padding: 10px 15px;
  }
}

#root>div>div>div {
  height: 100%;
}

div.login-bg { width: 100%; height:100%; overflow: hidden; background:url("/public/src/images/login-banner.png") left center no-repeat #24262b; background-size:cover;}

.login { margin-bottom: 0; -webkit-box-shadow: 0px 0px 25px 0px rgba(80, 80, 80, 0.46); -moz-box-shadow:0px 0px 25px 0px rgba(80, 80, 80, 0.46); box-shadow:0px 0px 25px 0px rgba(80, 80, 80, 0.46);min-height: 100%; height: 100%; }


.login-page { min-height: 100%; height: 100%}

.login-info { /*background: #166098;*/padding: 20px; min-height: 100%; height: 100%; }

.login-banner { margin-top: 85px;}

.form-signin { /*max-width: 450px; margin: 0 auto;*/ padding-top: 60px;}

.login-banner img { margin-bottom: 40px}

.banner-text { color: #fff; margin: 0 0 50px 35px; max-width: 650px; background: rgba(0, 0, 0, 0.60); padding: 10px 20px;}

.login-banner h2 {font-size: 30px; font-weight: 600; margin-bottom: 20px;}

.login-banner p, .form-signin p { margin-bottom: 20px; font-size: 20px; font-weight: 200;}

.login-form { background: transparent; color: #637182; min-height: 100%; height: 100%; padding: 20px 40px; }

.form-signin-heading { font-weight: 700; font-size: 30px; margin-bottom: 40px;color: #164b82; /*background: url(../images/login_ic.png) left no-repeat; text-indent: 45px;*/}

.login-form label { font-weight:normal; font-size: 16px;}

.login-form  input[type=text], .login-form  input[type=email], .login-form  input[type=password] {padding-left: 32px; border: 1px solid #929dac; height: 52px; margin-bottom: 10px; font-size: 16px; border-radius:30px;}

.login-form .btn { width: 100%; background:#0e3f73; color: #FFFFFF;border-radius:30px; font-size: 20px; padding: 15px 0; outline: none;}

.login-form .btn:hover {background:#2c4d70;}

.login-form .btn:active {outline: none;}

.ico { color: #d5e0ee; margin: -60px 0 0 0; float: left; padding: 15px 10px 20px 10px;position: relative; z-index: 1;}

.login .row.no-gutters > [class^="container-fluid"] { padding-right: 0; padding-left: 0; }
.t1 {
    font-size: 30px;
    color: #164b82;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
	font-weight:bold;
}
.tagline{
	color: #fff;
    margin-top: 20px;
    margin-left: 30px
}
.microsoft-icon{
  background: url("/public/src/images/microsoft_icon.png") left top no-repeat;
  width:24px;
  height: 24px;
  display: inline-block;
  position: relative;
  top:4px;
}

.MS-login{
border-radius: 30px
}
.login-header{
  background: #101010;
  height: 68px;
  padding: 10px 15px;
}
.login-header-alnylam{
  background: rgb(133 207 243 / .5);
  height: 68px;
  padding: 10px 15px;
}