.rightHeader {
    margin: 10px 5px 0px;
}

.user-icon,.bell-icon {
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    background: #fff!important;
    color: #c3314c;
    font-size: 16px;
}
.navbar-collapse{position: relative;}
.nba-icon{position: absolute; left: 5px; top:5px;}
.nba-icon img{height: 80px;}
.navbar-brand{margin-left: 25px !important; margin-top: 5px;}
.navbar-brand>img{height: 33px;}
/*.bell-icon{position: absolute; right: 20%;}*/
.navbar-default .container-fluid{position: relative; top:5px; padding-left: 7px; padding-right: 7px;}
/*.dropdown .user-icon{position: absolute; right: 234px;}
.dropdown .user-desc{position: absolute; right: 120px;}*/
.site-logo-alnylam{margin-left: 0;
    margin-top: 0;
    height: 85px !important;
    position: relative;
    right: 40px;
    bottom: 8px;}

.release-version-number {
    position: absolute;
    top: 78px!important;
    left: 15px!important;
    font-size: 12px;
    font-weight: bold;
    background-color: #C6E632;
    padding: 1px 8px;
    border-radius: 20px;
}
.edocsusername{color:#233c69;font-size:1.5rem;text-align:right;}
.edocsemailid{color:#233c69;font-size:1.5rem;}
@media (min-width: 1000px) and (max-width: 1300px) {
.site-logo-alnylam{margin-left: 0;margin-top: 0;height: 65px !important;position: relative;right: 40px;bottom: 8px;}
.edocsemailid{color: rgb(35, 60, 105);font-size: 1.5rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 80%;float: right;}
}