.editdocument{
    float: right;
    margin-top: 27px;
    margin-right: -194px;
}
.displaynone{
    display: none;
}

.coming_soon_text {
    font-family: ui-rounded;
    font-weight: 800;
    color: #1c3f81;
    font-size: large;
}