.all-node-wrap {
    height: 25px;
}

.doc-lib-col {
    min-height: 800px;
    /* height: auto; */
    overflow-y: auto;
}

.lib-preview-panel {
    margin-left: -15px;
    height: "95vh";
}

.doc-lib-first-col {
    border-right: 1px solid rgba(9, 31, 116, 0.5) !important;
    height: 630px;
    overflow-y: auto;
    overflow-x: auto;
}

.doc-lib-third-col {
    background-color: #fffbfb!important;
    height: 600px;
    overflow-y: auto;
    overflow-x: scroll;
    display:table-cell;
    vertical-align:middle;
    text-align:center
}

.center-align-content {
    display:table-cell;
    vertical-align:middle;
    text-align:center
}

.select-file-for-preview {
    height: 40em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.10)
}

.rc-tree .rc-tree-treenode .rc-tree-node-content-wrapper {
    height: auto !important;
}

.rc-tree-node-selected{padding: 1px 0px !important; margin: 1px 0 !important;}
.no-left-margin-icon {margin-left: 0px!important;}
.no-left-margin {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.word-doc-icon {
    color: #295497;
}

.pdf-doc-icon {
    color: #d92026;
}

.email-doc-icon {
    color: #25abe8;
}

.folder-icon {
    color: #e2cf70;
}

.container {
    font-size: 12px!important;
}

.header-row {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.doc-list-row {
    margin-top: 3px;
}

.doc-list-row:hover {
    background-color: #a5dffa;
}

.mouse-pointer {
    cursor: default;
}
.doc-prop-label {
    text-align: left;
    color: #6FC0FD;;
}
.doc-prop-desc {
    text-align: left;
}

/* .box-logo{
    background: url("/public/src/images/box-logo.png") center center no-repeat transparent;
    height: 10px;
    display: block;
    width: auto;
      position: unset;
      top: unset;
      right: unset;
  } */

  .adjust-height {
      margin-top: 120px!important;
  }