.shared-user-pic{
    width: 50px;
    background: #ddd;
    padding: 10px;
    text-align: center;
    border: 1px solid #d2d2d2;
    margin-bottom: 15px;
    border-radius: 5px;
}
.shared-user-pic i{
    font-size: 25px;
    color: #1d428a;
}
.shared-username{
    margin-top: 14px;
    /* font-weight: bold; */
}
.share-button {
    background: #1d428a;
    margin-top: -5px;
    /* margin-left: 5px; */
    margin-right: 15px;
    outline: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 0;
    color: #fff!important;
    font-size: 16px;
    float:right
}
/* .share-icon {
    color: #d2d2d2;
} */

.shared-list {
    margin-left:20px
}

.less-padding {
    padding: 5px!important;
}

.less-margin {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}