.collections-form {
    height: 75vh;
    margin-left: 10px;
    font-size: 12px;
}

.collection-select {
    width: 50%;
}

.new-collection-btn {
    margin-top: 25px;
}

.margin-top {
    margin-top: 5px;
}

.collection-btns {
    /* margin-right: 5px; */
    float: right;
    padding: 3px;
}

.new-collection-btn-wrap {
    padding-left: -10px;
}

.collection-tree {
    margin-left: 1px;
}

.collection-input-boxes {
    height: 25px;
    padding: 2px 4px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    padding: 5px;
    margin-left: 5px;
    box-shadow: rgb(158, 158, 158) -1px 0px 10px 0px inset;
}

.long-input-box {
    width: 80%;
}

.collection-input-boxes:focus {
    outline: none!important;
}

.root-collection-add {
    background-color: rgba(0, 0, 0, 0);
}

.add-child-collection {
    display: none;
    background-color: rgba(0, 0, 0, 0);
}

.collection-titles-wrapper:hover > button {
    display: inline-block;
}
.collection-save-alert {
    padding: 2px 2px 2px 4px;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: bold;
}

.collection-bars {
    color: #337ab7;
}

.overlay-blocker {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  .overlay-for-loader {
      height: 100%;
      background-color: rgba(0,0,0,0.5); 
      z-index: 2;
      position: fixed;
      padding-left: 150px;
  }

  .rc-tree-node-selected {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 1.5rem;
    padding: 5px;
    margin-left: 5px;
    box-shadow: rgb(158, 158, 158) -1px 0px 10px 0px inset;
    margin: 1px -2px;
    padding: 1px 5px 1px 2px !important;
    background-color: #ffee00!important;
  }

  .collection-tree {
      min-height: 100px;
      max-height: 300px;
      overflow: auto;
  }

  .collection-name-wrapper {
      margin-top: 10px;
  }

  .save-form-btn {
      font-size: 20px;
      margin-top: -5px;
  }

  .save-form-btn:focus {
    outline: none!important;
}