.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #00000075;
}
.fade {
    opacity: 1;
}
.modal-backdrop.fade{
    opacity: 1;
}

.modal.fade .modal-dialog {
    margin-top: 150px;
    /*position: fixed;
    top: 72px;
    left: 101px;*/
} 
/* .modal-content{
    width: 1133px;
}  */
.modal-title{
    float: left;
}
.error{
    color: red;
}

.ag-text-field-input {
    height: 25px !important;
    padding: 5px !important;
    color: #555!important;
    border-radius: 25px!important;
}

.ag-header-row-floating-filter {
	background-color: #f9f9f9!important;
}

.ag-header-cell {
    border: 1px solid #ddd!important;
}

.ag-table-cell-classs {
    border-bottom: 1px solid #ddd!important;
    border-left: 1px solid #ddd!important;
}

.ag-theme-alpine .ag-cell {
    line-height: 20px!important;
}
.inner-form {
    display: flex;
    flex-direction: column;
    
}