h1.token_name { display:block; color: #000000; font-weight: 600; padding: 12px 10px; margin: 0px -15px 0px; font-size:16px; margin-top: 0px; border-bottom:3px solid #a42038; background: #f3f3f3;}
.src_row { padding:7px 0px; border-bottom:1px dashed #ccc; float:left; width:100%;}
.src_exp_list { margin:0px; padding:0px; margin-left:-5px;}
.src_exp_list li.src_name { background:url(../images/book_ic.png) no-repeat left;}

.src_exp_list li.smart_expansions { background:url(../images/hbs_ss_exp_ic.png) no-repeat left;}

.expansion_icon {
padding:8px 30px 8px 10px; 
border:none!important; 
border-radius:0px!important; 
width:100%; 
margin:0px 5px 3px!important; 
font-weight:300;
font-size:19px; color:#666666;
text-indent: 35px; 
}

.src_exp_list li { list-style-type:none; float:left; margin:4px 5px; border-radius:20px; padding:0px 12px; border:1px solid #dcdcdc;background: #e6e6e6}
.src_exp_list li.green_token {
background: #c7edc8; /* Old browsers */
background: -moz-linear-gradient(top, #c7edc8 0%, #d6ffd7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #c7edc8 0%,#d6ffd7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #c7edc8 0%,#d6ffd7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7edc8', endColorstr='#d6ffd7',GradientType=0 ); /* IE6-9 */
}
.src_exp_list li.blue_token { 
background: #c6d4f2; /* Old browsers */
background: -moz-linear-gradient(top, #c6d4f2 0%, #d1e1ff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #c6d4f2 0%,#d1e1ff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #c6d4f2 0%,#d1e1ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6d4f2', endColorstr='#d1e1ff',GradientType=0 ); /* IE6-9 */
 }
.src_exp_list li.yellow_token { background: #e5e58b; /* Old browsers */
background: -moz-linear-gradient(top, #e5e58b 0%, #fff29a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #e5e58b 0%,#fff29a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #e5e58b 0%,#fff29a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e58b', endColorstr='#fff29a',GradientType=0 ); /* IE6-9 */ }

.displaynone{
    display: none;
}
