.text_16 { font-size: 14px;}
.query_token { background: #e9e9e9; border: none; outline:none; padding: 4px 9px;  font-weight: bold; border-radius: 10px; height: 30px; color: #34443b; margin-right: 4px; font-size: 14px; margin-bottom: 5px; display: inline-block;}
