.property-form-wrapper{
    margin-top: 10px;
    float: left;
}
.property-form-wrapper .col-md-12{
    margin-bottom: 15px;
}
.form-btn-wrapper{
    padding-right: 20px;
}
 .form-btn-wrapper .btn-primary{
    margin-right: 10px;
    border-radius: 22px;
    outline: none;
    padding: 6px 20px;
 } 
 .signeddate-box1{
     float: left;
     width:40%;
 }
 .signeddate-box2{
    float: left;
    width: 25%;
    margin: 0 0 0 10px
 }
 .signeddate-box3
 {
    float: left;
    width: 3%;
    margin: 0 10px;
    text-align: center;  
    font-size: 20px; 
 }
 .property-form-wrapper .form-control{
     border-radius: 22px;
     height: 36px;
 }

 .date-control {
    border-radius: 22px;
    height: 36px;
    display: block;
    width: 300px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}