.App {
  font-size: small;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: small;
}

.sidebar {background: #0c4786!important; margin-top:68px;}
.childHeader-class {
  display:none
}
/* 0c6491  */
.header-class {
  background-color: #0c6491 !important;
  border: none;
  font-weight: bold;
  font-size: 13px;
  /* text-align:left; */
  white-space: nowrap;
  vertical-align:middle;
  color: #fff
  /* color: #fff; */
}
.childHeaderClass {
  background-color: #0c6491;
  font-weight: bold;
  color: #ffffff;
  font-size: 13px;
  /* text-align:left */
}
table  tr.childHeaderClass th {padding: 5px !important;}
.filter-class {
  font-size: 'small';
  text-align: 'left';
  padding-left: '3px'
}
.jumbo-class {
  background-color: #31708f !important;
  color: #fff;
  font-size: 20px;
  border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 25px #51626f  inset;
}

.count-badge{cursor: default!important; float:right; margin: -20px 10px 20px 0px;
            background-color: #6c757d!important; border-color: #6c757d!important;}

.count-badge2{cursor: default!important;  margin-left: 10px;margin-top:-17px;
  background-color: #6c757d!important; border-color: #6c757d!important;}

.elementdisabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.caret1 {
  display:inline-block;
  width:0;
  height:0;
  margin-left:2px;
  vertical-align:middle;
  border-top:4px dashed;
  border-top:4px solid\9;
  border-right:4px solid transparent;
  border-left:4px solid transparent
 }
 .dropdown,
 .dropup {
  position:relative
 }
 .dropup .caret1,
.navbar-fixed-bottom .dropdown .caret1 {
 content:"";
 border-top:0;
 border-bottom:4px dashed;
 border-bottom:4px solid\9
}

.table { border-collapse: separate; border: solid #0c6491 1px; border-radius: 6px; -moz-border-radius: 6px;}

.table thead th {padding: 10px 5px !important}

.table td, .table th { padding: 5px !important }

.header-class th, .childHeaderClass th { border-color:#0c6491 !important; }

.table th {vertical-align: middle !important;}

.table th label { margin-bottom: 0 !important; }

.table th label input { height:25px !important; padding: 5px !important; border-radius: 25px; }

.counter { display: inline; margin-right: 25px;}

.counter span {font-weight: bold;margin-left: 5px;}

.react-bootstrap-table {overflow-y: auto; margin-bottom: 20px;}

.card {margin: 70px 0 20px 0px;}

ul.pagination {float: right;}

/************** SCROLLBAR ****************/

::-webkit-scrollbar { width: 5px; height: 5px; }

::-webkit-scrollbar-track { background: #f1f1f1; }

::-webkit-scrollbar-thumb { background: #01a0e1; }
    
::-webkit-scrollbar-thumb:hover { background: #555; }

/* .colm-header{ */
  /* float: left;  */
  /* width: 120px; */
/* } */

/* .colm-text {float: left;} */

/* .sort {float: right;  */
  /* width: 20px; */
/* } */

/************** Search box ****************/
.searchbox { display: inline;margin-left: 40px;margin-right: 35px;position: relative;}

.txtbox {
width: 45%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
margin-bottom: 5px;

}
.txtarea {
  width: 45%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin-bottom: 5px;
  
  }
  .btnhideshow {    margin-left: -27px;
    display: inline;
    outline: none;
    background-color: transparent;}

  .crnr {
    width: 50px;
    height: 50px;
    border-top-left-radius: 25%;
    box-shadow: 0 -12px 0 0px #004b8f;
    margin-left: -24px;
    margin-top: 53px;
    position: fixed;
}

.navbar-brand {width: 250px;}
.dropdown-menu.toolbar_ul li{ border-bottom:1px solid #ccc; font-size: small; font-weight: bold;  }
.settings {background-color: #757575; border-color: #757575;
  margin-right:"0px"; margin-top:"-10px";padding:"5px 8px";
}
/* .dropdown-menu.toolbar_ul { min-width:85px;  } */

.counter-row {display: inline-block; width: 100%; margin-bottom: 10px;}
.counter-dropdown { margin-left: 50px; margin-top: -10px; float: right;}
.react-bootstrap-table { margin-right: -10px !important;}

.search-bar {display: inline-block;}

.search-name {border-radius: 25px;
  padding: 5px 10px;
  min-width: 300px;
  margin-bottom: 10px;
  border: 1px solid #dddddd;
  padding-right: 30px;}