@charset "utf-8";

/* CSS Document */


/* @font-face { font-family: "FS-Light"; src: url(../fira-fonts/WEB/TTF/FiraSans-Light.ttf); }

@font-face { font-family: "FS-Regular"; src: url(../fira-fonts/WEB/TTF/FiraSans-Regular.ttf); }

@font-face { font-family: "FS-Semibold"; src: url(../fira-fonts/WEB/TTF/FiraSans-Semibold.ttf); }

@font-face { font-family: "FS-italic"; src: url(../fira-fonts/WEB/TTF/FiraSans-Italic.ttf); } */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

ul,
li {
    list-style-type: none
}

body {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
    color: #333;
    /*background: #eff3f8; margin-top: 50px;*/
    font-size: 14px;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: #2c8ada;
}

p {
    margin-bottom: 10px;
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 0;
}

.crisp-img {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}


/********************** LOGIN CSS START ************************/

/*body.login-bg {
    background: url("../images/bg.jpg") 0 0 no-repeat;
    background-size: cover;
}*/

.login {
    margin-bottom: 0;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(80, 80, 80, 0.46);
    -moz-box-shadow: 0px 0px 25px 0px rgba(80, 80, 80, 0.46);
    box-shadow: 0px 0px 25px 0px rgba(80, 80, 80, 0.46);
    min-height: 100%;
    height: 100%;
}


/*.login .logo { padding: 20px 0 50px 0; }*/

.login-page {
    min-height: 100%;
    height: 100%
}

.login-info {
    /*background: #166098;*/
    padding: 20px;
    min-height: 100%;
    height: 100%;
}

.login-banner {
    margin-top: 85px;
}

.form-signin {
    /*max-width: 450px; margin: 0 auto;*/
    padding-top: 60px;
}

.login-banner img {
    margin-bottom: 40px
}

.banner-text {
    color: #fff;
    margin: 0 0 50px 35px;
    max-width: 650px;
}

.login-banner h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.login-banner p,
.form-signin p {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 200;
}

.login-form {
    background: #fff;
    color: #637182;
    min-height: 100%;
    height: 100%;
    padding: 20px 40px;
}

.form-signin-heading {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 40px;
    color: #164b82;
    /*background: url(../images/login_ic.png) left no-repeat; text-indent: 45px;*/
}

.login-form label {
    font-weight: normal;
    font-size: 16px;
}

.login-form input[type=text],
.login-form input[type=email],
.login-form input[type=password] {
    padding-left: 32px;
    border: 1px solid #929dac;
    height: 52px;
    margin-bottom: 10px;
    font-size: 16px;
}

.login-form .btn {
    width: 100%;
    background: #0e3f73;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 20px;
    padding: 15px 0;
}

.login-form .btn:hover {
    background: #2c4d70;
}

.ico {
    color: #d5e0ee;
    margin: -60px 0 0 0;
    float: left;
    padding: 15px 10px 20px 10px;
    position: relative;
    z-index: 1;
}

.login .row.no-gutters>[class^="container-fluid"] {
    padding-right: 0;
    padding-left: 0;
}


/********************** DASHBOARD CSS START ************************/

.datahound_logo {
    height: 30px;
    margin-right: 10px;
}

.content {
    padding: 20px;
}

.cards {
    box-shadow: 0 0 10px #ccc;
    min-height: 303px;
    margin-bottom: 20px;
}

.card_heading {
    padding: 10px;
    background: #1c4c82;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
}

.card_content {
    padding: 10px;
    text-align: center
}

.card_content img {
    width: 65%
}

.navbar-brand {
    padding: 10px 15px;
}

.navbar-default {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d4578+14,324f84+50,3d4578+78,3d4578+100 */
    background: #1c3f81;
    /* Old browsers */
    background: -moz-linear-gradient(left,#1c3f81 14%, #162648 50%, #152b5a 78%, #1c3f81 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #1c3f81 14%, #162648 50%, #152b5a 78%, #1c3f81 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1c3f81 14%, #162648 50%, #152b5a 78%, #1c3f81 100%);

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3d4578', endColorstr='#3d4578', GradientType=1);
    /* IE6-9 */
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ccc;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #000;
    background-color: #fff;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #fff;
}

.navbar-default {
    border-color: #eff3f8;
}

.dropdown-menu {
    border: none;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

@-webkit-keyframes spaceboots {
    0% {
        -webkit-transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        -webkit-transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        -webkit-transform: translate(0px, 2px) rotate(0deg);
    }
    40% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        -webkit-transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
    }
    80% {
        -webkit-transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        -webkit-transform: translate(2px, 2px) rotate(0deg);
    }
    100% {
        -webkit-transform: translate(1px, -2px) rotate(-1deg);
    }
}

li:hover .shake {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.shake {
    display: inline-block
}

.nav li a span.badge {
    position: relative;
    top: -5px;
    right: 5px;
    padding: 4px 7px 3px 7px;
    color: #ffffff;
    background: #f00;
}

.options {
    display: inline-block;
    width: 100%;
    background: #f5f5f6;
    border-bottom: 1px solid #d2d9e4;
    margin: 0;
}

.options a {
    color: #0960a3;
    text-transform: capitalize;
    font-weight: 400;
}

.page-content {
    padding: 20px
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 1px solid #f1f1f1;
}

.table-hover>tbody>tr:hover {
    background-color: #dcefff;
}

.list li {
    padding: 10px 0;
    line-height: 20px;
    display: block;
}

.list li a,
.team h4 a {
    color: #696969;
}

.team img {
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

.team h4 {
    font-size: 14px;
    color: #3d3d3d;
    margin-top: 10px;
}

i.status {
    font-size: 20px;
}

.team .text-success {
    color: #6fb615;
}

.team .text-warning {
    color: #e1af00;
}

.team .text-muted {
    color: #b7b7b7;
}

.copyright {
    color: #a7a7a7;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    text-shadow: 0 1px 0 #fff;
}

.media {
    margin-top: 5px;
}


/****************** SIDEBAR START ********************/


/*
.left-col {
  width: 230px;
    padding: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    z-index: 9999;
    min-height: 500px;
    background: #ddd
    }
    
    .right-col {
      padding: 10px 20px 0;
    margin-left: 230px;
    min-height: 500px;
    background: #eee
    }*/


/*
 * Global add-ons
 */

.sub-header {
    /*padding-bottom: 10px; border-bottom: 1px solid #e4e8ef;*/
    font-size: 18px;
    color: #556d8c;
}

.sub-header span {
    font-size: 14px;
    font-weight: normal;
    margin-left: 10px;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
    border: 0;
}


/* .Sidebar { padding: 20px } */


/* Hide for mobile, show later */


/* .sidebar {
  display: none;
} */


/* @media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: #f8f9fb;
    border-right: 1px solid #d4dbe6;
  }
} */


/* Sidebar navigation */


/* .nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
} */

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */


/* .main, .rightbar {
  padding: 20px;
} */

@media (min-width: 768px) {
    /* .main, .rightbar {
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 50px;
  } */
}

.main .page-header,
.sidebar .page-header,
.rightbar .page-header {
    margin-top: 0;
    font-size: 20px;
    color: #183151;
    text-shadow: 0 1px 0 #fff;
    background: #ffffff;
    padding: 15px;
    margin: 0;
    border-bottom: 1px solid #d2d9e4;
    box-shadow: 0 0 10px #ccc;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder a {
    color: #5f6060;
    display: inline-block;
    border-radius: 3px;
    background: #f8f9fb;
    border: 1px solid #c6cfde;
    width: 100%;
    padding: 20px;
    cursor: pointer
}

.placeholder i {
    color: #4c5482;
    font-size: 60px;
    display: block;
}

.pagination {
    margin: 0;
}

.media {
    margin-top: 5px;
}


/************************** SIMPLE SIDEBAR ****************************/

body {
    overflow-x: hidden;
}

#wrapper {
    margin-top: 50px;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 300px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f8f9fb;
    border-right: 1px solid #d4dbe6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    /* padding: 15px; */
}

a.toggle {
    position: absolute;
    top: 50%;
    left: 0;
    background: #428bca;
    color: #FFF;
    font-weight: bolder;
    vertical-align: middle;
    padding: 20px 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 0;
    }
    #wrapper.toggled {
        padding-left: 300px;
    }
    #sidebar-wrapper {
        width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 300px;
    }
    #page-content-wrapper {
        /* padding: 20px; */
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}