/* #root {
    margin-top: 25px;
    margin-bottom: 25px;
  } */
  
  .cont {
    margin: 25px;
  }
  
  .tooltipStyleChange {
    color: #006080
  }
  
  /**/
  
  .tooltip1 {
      position: relative;
      display: inline-block;
      /*border-bottom: 1px dotted #ccc;
      color: #006080; */
  }
  
  .tooltip1 .tooltiptext1.light {
      background-color: #ffffff;
      color: #333333;
      border: 1px solid rgba(0,0,0,.2);
  }
  
  .tooltip1 .tooltiptext1.dark {
      background-color: #555555;
      color: #ffffff;
  }
  
  .tooltip1 .tooltiptext1 {
      visibility: hidden;
      position: absolute;
      width: auto;
      text-align: center;
      padding: 5px;
      border-radius: 6px;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s;
      box-shadow: 0 2px 6px rgba(0,0,0,.3);
  }
  
  .tooltip1:hover .tooltiptext1 {
      visibility: visible;
      opacity: 1;
  }
  
  .tooltip1-right {
    top: -5px;
    left: 125%;  
  }
  
  .tooltip1-right::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent #555 transparent transparent;
  }
  
  .tooltip1-bottom {
    top: 135%;
    left: 50%;  
    margin-left: -60px;
  }
  
  .tooltip1-bottom::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 11px;
    border-style: solid;
    border-color: transparent transparent #55555530 transparent;
  }
  
  .tooltip1-top {
    bottom: 125%;
    left: 50%;  
    margin-left: -60px;
  }
  
  .tooltip1-top::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
  }
  
  .tooltip1-left {
    top: -5px;
    bottom:auto;
    right: 128%;  
  }
  .tooltip1-left::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent #555;
  }
  
  .arrow{
    position: absolute;
    left: 48%;
    top: -10px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
    z-index: 1;
  }
  .watermark-wrapper{
    position: relative;
  }
  .watermarktext{
    position: absolute;
    top: 300px;
    left: 20%;
    height: 100%;
    -ms-transform: rotate(-50deg);
    transform: rotate(-50deg);
    font-size: 40px;
    z-index: 1;
    opacity: .5;
    letter-spacing: 5px;
  }
  /*Accordian CSS */
  .accordion .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width:100%;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
}

.accordion .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(144 144 144 / 0.09);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.accordion .card:first-of-type {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.accordion .h5, .accordion h5 {
    font-size: 1.25rem;
    margin-top: 0;
}

.accordion .btn-link {
    font-weight: 500;
    color: #2196F3;
    background-color: transparent;
    font-size: 14px;
    outline: none;
}

.accordion .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    float: left;
    font-weight: normal;
    font-size: 14px;
}